body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(53, 53, 53);
}

.box-N {
    border-style: dotted;
    border-radius: 15px;
    border-color: rgb(196, 196, 196);
    padding: 10px;
}

.box-P {
    border-style: dotted;
    border-radius: 15px;
    border-color: rgb(196, 196, 196);
    padding: 10px;
}

.box-resultado {
    border-style: dotted;
    border-radius: 15px;
    border-color: rgb(196, 196, 196);
    padding: 10px;
}

h1 {
    /* font-family: 'Montserrat', sans-serif; */
    color: rgb(53, 53, 53);
    text-align: center;

}

h3 {
    margin: 0px;
}

.container {
    width: 600px;
    margin: auto;
}

input {
    border-style: solid;
    border-color: rgb(196, 196, 196);

}

button {
    border-style: solid;
    border-color: rgb(73, 182, 63);
    padding: 5px;
    color: rgb(34, 30, 30);
    background-color: rgb(91, 211, 80);
}

h4 {
    inline-size: auto;
}

hr {
    border-style: dashed;
    border-color: rgb(180, 180, 180);
    
}

a:link {
    color: rgb(53, 53, 53);
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;

}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width:50px
}

button {
    border-radius: 5px;
    margin: 10px
}

img {
    width: 400px;
    margin-top: 10px;
}

.alerta{
    font-size: 32px;
    font-weight: bold;
    color: rgb(228, 23, 23); 
}

#comb {
    font-size: 26px;
    color: rgb(20, 7, 197); 
}